body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	/* cia su sass galetu buti funkcija transiciojos*/
	transition: background 1s, color 1s;
	transition-delay: 0.3s;
	transition-property: background color;
	transition-timing-function: ease-in-out;
	transition-duration: 1s;
}

/* korteles konteineris su tekstu mygtuku ir socialiniais tinklais*/
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em;
	background: white;
	/* 	border: 2px solid white; */
	min-width: 300px;
	max-width: 500px;
	width: 42vw;
	border-radius: 3px;
	/* cia su sass galetu buti funkcija transiciojos*/
	transition: background 1s, color 1s;
	transition-delay: 0.3s;
	transition-property: background color;
	transition-timing-function: ease-in-out;
	transition-duration: 1s;
}

/*card klases divo viduj h1 ir autorius  */
#text {
	/* 	width: 80%; */
	text-align: center;
	margin-bottom: 3em;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
}

#spanas {
	font-size: 1.2em;
}

.autorius {
	color: white;
	text-align: center;
}

.SocMyg {
	width: 100%;
	display: flex;
	/* 	align-content: space-between; */
}

.SocMyg > * {
	display: flex;
	flex-direction: row;
}

/* mygtuko bendri nustatymai*/
/* mygtuko konteineris*/

/* mygtukas*/
.myg {
	padding: 15px;
	border-radius: 2px;
	margin-right: 4px;
	border: none;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: white;
	/* cia su sass galetu buti funkcija transiciojos*/
	transition: background 1s, color 1s;
	transition-delay: 0.3s;
	transition-property: background color;
	transition-timing-function: ease-in-out;
	transition-duration: 1s;
}

.myg:hover {
	opacity: 0.9;
}

.mygalas {
	margin-left: auto;
	margin-right: -4px;
}
